h1{
	color:black;
	text-align:center;
	font-family:Book Antiqua;
  }
 body{background-color:#FCE5EF;}
 dt,dd,th,td,p,li{color:black;}
table{display: table;
    margin-left: auto;
    margin-right: auto;}
h2{
	font-family: Book Antiqua;
}
